 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto:wght@700&display=swap');
 
 /*General style  */

 /* Boy color palette */
 .color1 {
     color: #253031 ;
 }
 .color2 {
     color: #315659;
 }
 .color3 {
     color: #2978a0;
 }
 .color4 {
     color: #bcab79;
 }
 .color5 {
     color: #c6e0ff;
 }
 /* Girl color palette */
 .color1G {
     color: #1b2021;
 }
 .color2G {
     color: #30343f;
 }
 .color3G {
     color: #89023e;
 }
 .color4G {
     color: #ea638c;
 }
 .color5G {
     color: #ffd9da;
 }
 .backgroundColor1 {
     background-color: #2978a0;
 }
 .backgroundColor2 {
     background-color: #c6e0ff;
 }
 .backgroundColor1G {
     background-color: #89023e;
 }
 .backgroundColor2G {
     background-color: #ffd9da;
 }
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body {
    height: 100vh;
 }
 .fontRoboHeader {
    font-family: 'Roboto', sans-serif;
 }
 .fontLibreText {
    font-family: 'Libre Franklin', sans-serif;
 }
 .displayFlexRow {
     display: flex;
     flex-direction: row;
 }
 .displayFlexColumn {
     display: flex;
     flex-direction: column;
 }
.wrap {
    flex-wrap: wrap;
}
.nowrap {
    flex-wrap: nowrap;
}
.alignItemsCenter {
    align-items: center;
}
.jusConSpacAround {
    justify-content: space-around;
}
.jusConSpacBetw {
    justify-content: space-between;
}
.jusConCenter {
    justify-content: center;
}
.marginTopBottom {
    margin: 10vh;
}
.marginTop {
    margin-top: 10vh;
}
.marginBottom {
    margin-bottom: 10vh;
}
.marginTop2vh {
    margin-top: 2vh;
}
.marginTop5vh {
    margin-top: 5vh;
}
.paddingBottom {
    padding-bottom: 7vh;
}
.borderRadius5 {
    border-radius: 5px;
}
.iconSize {
    padding: 0.2rem;
    font-size: 2.6rem;
    margin-left: 0.5vw;
}
.languageIcon {
    text-align: center;
    border-radius: 50%;

}
.paddingMargin5px {
    padding: 5px 5px;
    margin: 5px 5px;
}
.fontSize1dot8 {
    font-size: 1.8rem;
}
.fontSize1dot5 {
    font-size: 1.5rem;
}
.hide {
    display: none;
}
.alert {
    font-weight: bolder;
    font-size: 1.8rem;
}
.textLineThrough {  
    /* color: #bcab79;   */
    text-decoration: line-through;
}
.outlineNone {
    outline: none;
}

/* Container style */

#container {
    margin:10vh auto;
    width: 80vw;
}
#HeaderH1 {
    width: 80vw;
    padding: 0vh 2vw;
}
#H1 {
    font-size: 2.3rem;
    text-align: center;
}

/* inputContainer style */

#inputContainerInput {
    width: 56vw;
    padding: 0.5vh 0.5vw; 
}

.inputContainerInputBorder {
    border: 0.2rem solid #bcab79;
}
.inputContainerInputBorderG {
    border: 0.2rem solid #ea638c;
}

/* toDoListContainer style */

#toDoListContainer {
    width: 60vw;
}
#toDoListContainerHeader {
    padding-bottom: 1vh;
}
.toDoListContainerHeaderBorderBottom {
    border-bottom: 0.2rem solid #253031;
}
.toDoListContainerHeaderBorderBottomG {
    border-bottom: 0.2rem solid #1b2021;
}
#toDoListContainerHeaderPar {
    font-size: 1.8rem;
}

/* toDoListTextEventContainer style */

.toDoListTextEventContainer {
    padding: 1vh 0vw;  
}
.borderBottom {
    border-bottom: 0.1rem solid #bcab79;
}
.borderBottomG {
    border-bottom: 0.1rem solid #ea638c;
}
